@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=K2D:wght@300;500;800&family=Rock+Salt&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

.app {
  margin: auto;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  margin: auto;
  color: #000;
  font-size: 20px;
  padding: 30px;
  z-index: 10;
  font-family: "K2D";
}

.nav ul {
  width: max-content;
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background: black;
  border-radius: 5px;
  border: solid black 1px;
}

.nav ul li {
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.nav a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

@media (min-width: 992px) {
  .nav {
    font-size: 16px;
    padding: 5px;
  }
}
